/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-cover: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --content-title-color: #000028;
  --content-text-color: #F1B2CE;
  --text-line-height: 23.4px;
  --accent-color: #FF0070;
  --main-font: "IBM Plex Mono", sans-serif;
  --text-bold: 700;
  --text-normal: 400;
  --main-font-size: 18px;
  --title-color: #DB00FF;
  --border-color: #FF0070;
  --border-color-hover: #FF007066;
  --button-text-color: #FF0070;
  --section-title-color: #FF0070;
}